body { 
			background-image: url('./images/luluBackground.png') ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
      background-size:  cover;
      
  
}

/* device stats */

.deviceImages {
  display:block;
  margin:auto;
}

.deviceMargin {
  margin-top: 2%;
}

.const {
  position: relative;
  font-family: 'Cabin';
}

.outdoorData {
  font-family: 'Cabin';
  font-size: 1.25em;
  color: #585858;
  margin-left: 7%;

}

.waterText {
  font-family: 'Roboto';
  font-weight: 300;
  color: blue;
  font-size: 2em;
}

.fertilizerText {
  font-family: 'Roboto';
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 10%;
}

.text-block {
  position: absolute;
  color: white;
  margin-right: 62%;
  margin-left: 28%;
  margin-bottom: 5%;
  bottom: 18%;
  font-size: 1.25em;
}

.addPlant {
  position: relative;
  left: 78%;
  margin-top: 3%;
}

.plantRow {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 18%
}

.fade {
    background: transparent !important;
}

.modal-content {
  width: 85% !important;
  height: 600px !important;
  border: none !important;
  margin: auto;
  background-image: url('./images/Modal.png') ;
  background-position: center center;
  background-size: cover;
  padding: none;
  
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.plantData {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  margin-bottom: 6%;
  margin-top: 5%;
}

.plantDetailScroll {
  overflow-y: auto;
  margin-bottom: 6%;
  margin-top: 6%;
}

.addPlantText {
  font-family: 'Cabin';
  margin-top: 1%;
  margin-bottom: 3%;
  color: #402F1F;
}

.addPlantText2 {
  font-family: 'Cabin';
  margin-bottom: 3%;
  margin-left: 15%;
  color: #402F1F;
}

.addPlantText3 {
  font-family: 'Cabin';
  margin-bottom: 3%;
  color: #402F1F;
}

.searchPlant {
  width: 75%;
  margin: auto;           /* Overridden by padding: 1px; */
	font-family: 'Cabin';     /* Overridden by font: -webkit-small-control; */
	border: none;  /* Overridden by border: 2px inset; */
	background: rgba(255, 255, 255, .3);          /* Overridden by background-color: white; */ 
}

.addPlantName {
  margin-left: 30%;
  font-family: 'Cabin';
  font-size: 1.25em;
  color: #585858;
  margin-bottom: 3%;

}

.plantImageD {
  width: 80%;
  height: 68%;
  margin-left: 30%;
}

.addPlantDiv {
  margin-bottom: 10%;
}

.addPlantButton {
  font-family: 'Cabin';
  background-color: #ec9f25;
  border-radius: 5px;
  color: #ffffff;
  width: 60%;
  text-align: center;
  margin-top: 18%;
  border: solid #ffffff 2px;
}

.addJournal {
  font-family: 'Cabin';
  background-color: #ec9f25;
  border-radius: 5px;
  color: #ffffff;
  width: 30%;
  margin-left: 36.5%;
  text-align: center;
  border: solid #ffffff 2px;
}

.deletePlant {
  font-family: 'Cabin';
  background-color: #ec9f25;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  margin-top: 8%;
  margin-left: 65%;
  border: solid #ffffff 2px;
}

.editButton {
  font-family: 'Cabin';
  background-color: #ec9f25;
  border-radius: 5px;
  width: 40%;
  color: #ffffff;
  text-align: center;
  border: solid #ffffff 2px;
}

.deleteButton {
  font-family: 'Cabin';
  background-color: #ec9f25;
  border-radius: 5px;
  color: #ffffff;
  width: 40%;
  margin-top: 5%;
  text-align: center;
  border: solid #ffffff 2px;
}

.needs {
  font-family: 'Cabin';
  color: #585858;
  font-size: 1em;
}

.temp {
  margin-top: 40%;
}

.needsLabel {
  font-family: 'Cabin';
  color: #585858;
  font-size: 1em;
}

.dateLabel {
  font-family: 'Cabin';
  color: #402F1F;
  font-size: 1.25em;
}

.how {
  font-family: 'Cabin';
  color: #402F1F;
  font-size: 1.25em;
  margin-top: 4%;
}

.plantImage {
  width: 65%;
  height: auto;
  display: block; /*for the img inside your div */ 
margin: 0 auto; 
margin-top: 3%
}

.plantImage2 {
  width: 100%;
  height: auto;
  display: block; /*for the img inside your div */ 
  margin-top: 25%;
  margin-left: 65%;

}

#example {
 position: absolute;
 top: 10%;
 left: 28%; 
 padding: 3px;
}

.plantName {
  text-align: center;
  font-family: 'Cabin';
  color: #585858;
  margin-top: 2%;
  margin-bottom: 3%;
}

.iconRow {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.iconRow2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sizeDiv {
  width: 18%;
  margin: .125em
}

.sizeDiv2 {
  width: 12%;
  margin: .125em
}

#container {
  position: relative;    
}

    textarea
    {
        border: none;
        display: block;
        padding: 0;
        height: 65%;
        width: 85%;
        background-color: rgba(255, 255, 255, .3);
    }

    .observationModal {
      margin-top: 5%;
      padding: 0;
    }

    input[type="file"] {
      display: none;
  }
  .custom-file-upload {
    font-family: 'Cabin';
    background-color: #ec9f25;
    border-radius: 5px;
    color: #ffffff;
    width: 35%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 32%;
    border: solid #ffffff 2px;
      display: inline-block;
      padding: 6px 6px;
      cursor: pointer;
  }

  .inputDate {         /* Overridden by padding: 1px; */
    font-family: 'Cabin';     /* Overridden by font: -webkit-small-control; */
    border: none;  /* Overridden by border: 2px inset; */
    background: rgba(255, 255, 255, .3); 
    margin-left: 8%         /* Overridden by background-color: white; */ 
  }

  .inputVal {         /* Overridden by padding: 1px; */
    font-family: 'Cabin';     /* Overridden by font: -webkit-small-control; */
    border: none;  /* Overridden by border: 2px inset; */
    background: rgba(255, 255, 255, .3);         /* Overridden by background-color: white; */ 
  }

  label {
    margin-left: 8%;
    margin-top: 2%;
    font-family: 'Cabin';
    color: #585858
  }

  .previewPic {
    margin-left: 27%;
    margin-bottom: 3%;
    margin-top: 3%; 
  }

  .journalImage {
    margin-left: 25%;
    margin-top: 20%;
  }

  .journalOptions {
    margin-left: 8%;
    margin-top: 6%;
  }

  .submitStyle {
    font-family: 'Cabin';
    background-color: #ec9f25;
    border-radius: 5px;
    color: #ffffff;
    width: 40%;
    margin-top: 2%;
    text-align: center;
    margin-left: 8%;
    border: solid #ffffff 2px;
  }

  .deleteImage {
    font-family: 'Cabin';
    background-color: #ec9f25;
    border-radius: 5px;
    color: #ffffff;
    width: 20%;
    text-align: center;
    margin-left: 52%;
    margin-bottom: 5%;
    border: solid #ffffff 2px;
  }